.input-link__title--visually-hidden {
    display: none;
}

.content__input-link {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 86px;
}

.input-link__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__input-link {
    height: 100%;
    width: 607px;
    font-family: Montserrat-Regular;
    font-size: 20px;
    padding: 0px 0px 0px 26px;
    border: none;
    border-radius: 128px 0px 0px 128px;
    background-color: #424242;
    color: #737373;
}

.form__input-link:active {
    background-color: #424242;
    color: #737373;
    font-family: Montserrat-Regular;
    font-size: 20px;
    outline: none;
}

.form__input-link:focus {
    background-color: #424242;
    color: #737373;
    font-family: Montserrat-Regular;
    font-size: 20px;
    outline: none;
}


.form__input-link::placeholder {
    color: #E1E0E6;
    background-color: #424242;
    font-family: Montserrat-Regular;
    font-size: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #424242 inset !important;
    -webkit-text-fill-color: #737373 !important;
    font-family: Montserrat-Regular !important;
    font-size: 20px !important;
}

.form__submit-form {
    height: 100%;
    width: 60px;
    background-color: #222222;
    border-radius: 0px 128px 128px 0px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}