.main {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.main__container {
    width: 90%;
    display: flex;
}

.main__background {
    position: absolute;
    filter: blur(50px);
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main__background svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}