.get-data__title--visually-hidden {
    display: none;
}

.button-section__title--visually-hidden {
    display: none;
}

.content__get-data {
    width: 637px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background-color: #424242;
    border-radius: 60px;
    height: 262px;
    gap: 30px;
}

.get-data__image {
    width: 278px;
    height: 202px;
    background-color: #222222;
    width: 100%;
    border-radius: 29px;
    overflow: hidden;
}

.get-data__image image {
    width: 278px;
    height: 202px;
    border-radius: 29px;
}

.get-data__content {
    width: 100%;
    height: 202px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content__video-name {
    font-family: Montserrat-Medium;
    font-size: 24px;
    color: white;
}

.content__video-author {
    font-family: Montserrat-Medium;
    font-size: 20px;
    color: white;
}

.content__button-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.content__install-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.button-section__install-button {
    background-color: #222222;
    border-radius: 60px 0px 0px 60px;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 14px;
    width: 83px;
    height: 32px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.install-button__open-list {
    background-color: #2B2B2B;
    width: 33px;
    height: 32px;
    border: none;
    cursor: pointer;
    border-radius: 0px 60px 60px 0px;
}

.open-list__close-icon {
    rotate: 0deg;
}

.open-list__open-icon {
    rotate: 180deg;
}

.button-section__label {
    font-family: Montserrat-Regular;
}

.button-section__add-func {
    display: flex;
    align-items: center;
    gap: 6px;
}

.button-section__checkbox {
    width: 32px;
    height: 32px;
    border-radius: 60px;
    background-color: #222222;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkbox__image {
    width: 16px;
    height: 12px;
}

.button-section__opened-list {
    position: absolute;
    margin-top: 205px;
    width: 240px;
    height: 168px;
    background-color: #3C3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opened-list__list {
    width: 100%;
}

.list__item-list {
    width: 100%;
}

.item-list__content {
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    cursor: pointer;
    border: none;
}

.content__about {
    color: white;
    font-family: Montserrat-Regular;
    font-size: 14px;
    margin-left: 16px;
}

.content__quality {
    color: white;
    font-family: Montserrat-Regular;
    font-size: 14px;
    margin-right: 16px;
}